<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

	<title>Empire - XHTML Template</title>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<meta name="description" content="Empire - XHTML Template" />

	<!-- CSS -->	
	<link href='fonts/sansation.css' rel="stylesheet" type="text/css" />	<!-- Get any font from here easily: http://www.google.com/webfonts -->	
	<link href="css/style.css" rel="stylesheet" type="text/css" />	
	<link href="fancybox/jquery.fancybox-1.3.4.css" rel="stylesheet" type="text/css" />
	<link href="css/nivo-slider.css" rel="stylesheet" type="text/css" />
	<link href="css/styler-farbtastic.css" rel="stylesheet" type="text/css" />
	<!--JavaScript-->
	<script type="text/javascript" src="js/jquery.min.js"></script>	
	<script type="text/javascript" src="js/jquery-ui-1.8.17.custom.min.js"></script>			
	<script type="text/javascript" src="fancybox/jquery.fancybox-1.3.4.pack.js"></script>	
	<script type="text/javascript" src="js/jquery.nivo.slider.js"></script>			
	<script type="text/javascript" src="js/jquery.bgslider.js"></script>
	<script type="text/javascript" src="js/preloader.js"></script>
	<script type="text/javascript" src="js/farbtastic.js"></script>
	<script type="text/javascript" src="js/basic.js"></script>
	<script type="text/javascript" src="js/styler.js"></script>
	<script type="text/javascript" src="js/contact_form.js"></script>
	<script src="js/angular.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/fn.js" type="text/javascript" charset="utf-8"></script>
		
		
</head>
<body ng-app="notes" ng-controller="noteCtl">
	
	
	<!-- DISPLAY MESSAGE IF JAVA IS TURNED OFF -->
	

	<!-- STYLER FOR DEMO -->
	<div id="styler">
		<div id="styler-button"><a href="#"><img src="images/styler-button.png" alt="" /></a></div>
			
		<div class="styler-title"><img src="images/styler-t1.png" alt="" /></div>
			
		<ul id="texture">	
			<li><a href="#" id="styler-texture-1">朴素</a></li>
			<li id="selected"><a href="#" id="styler-texture-2">皮革</a></li>
			<li><a href="#" id="styler-texture-3">碳纤维</a></li>
		</ul>
		
		<div class="styler-title"><img src="images/styler-t2.png" alt="" /></div>
		
		<div id="styler-colorpicker" class="colorpicker"></div>
	</div>


	<!-- SITE WRAPPER -->
	<div id="wrapper">
	
		<!-- PAGE WITH CONTENTS -->
		<div id="page">
			<div id="content">
				
					<h1>Wellcom~{{username}}!</h1>				 
				<a href="#" class="toggle" ng-click="addnote()" >添加笔记</a>
				<div id="light" class="white_content" style="display: none;">确认删除一条笔记?
						<a href="#" ng-click="hide()">取消</a>
						<a href="#" ng-click="sure()">确定</a>
				</div>
				<div class="hr"></div>
				
				<!-- 笔记列表 -->
				
				<div ng-repeat="notes in notes">
					<ul id="blog-small" >	
						<li > 
							<div class="blog-small-image">
								<span class="imghover_small_blog"></span><img src="images/post1.jpg" alt="" ng-click="lookNote(notes.id)"/>
							</div>				
							<div class="blog-small-text">
								<h1 ng-click="lookNote(notes.id)"><a href="#">{{notes.title}}</a></h1>
								<p class="blog-info">&nbsp;<img src="images/icon-time.png" alt="" />&nbsp;{{notes.updateTime | date:'yyyy/MM/dd HH:mm:ss'}}&nbsp; 
									<img src="images/sep.gif" alt="" />
									&nbsp;&nbsp;
									<img src="images/icon-category.png" alt="" />
									<a href="#" ng-click="">修改</a>, <a href="#" ng-click="show(notes.id)">删除</a>
								</p>
								<p class="blog-small-excerpt">
									{{notes.context | limitTo:10}}...
									<br />
								</p>						
							</div>
						</li>				
						<li class="blog-small-sep"></li>
					</ul>					
				</div>
			
				<div class="hr"></div>
			
			</div><!-- #content ends -->	
		</div><!-- #page ends -->
			
		<!-- SIDEBAR -->
		<div id="sidebar">	
			<div id="sidebar-color"></div>		<!-- SIDEBAR COLOR LAYER -->
			<div id="sidebar-border"></div>		<!-- SIDEBAR BORDER LAYER -->
			<div id="sidebar-light"></div>		<!-- SIDEBAR RADIAL GRADIENT LIGHT LAYER -->
			<div id="sidebar-texture"></div>	<!-- SIDEBAR TEXTURE LAYER -->
			
			<!-- SIDEBAR CONTENT LAYER -->
			<div id="sidebar-content">	
			
				<!-- LOGO -->
				<div id="logo">
					<a href="index.html"><img src="images/logo.png" alt="" /></a>
				</div>
					
				<!-- MENU -->
				<ul id="menu">
					<li class="current"><a href="index.html">主页</a></li>
					<li><a href="blog-1.html">笔记</a>
						<ul>
							<li><a href="blog-1.html">Notes</a></li>
							<li><a href="blog-2.html">回收站</a></li>
						</ul>
					</li>
				</ul>
						
			</div><!-- #sidebar-content ends -->	
<p id="copyright">EMPIRE Note. Success Profile 
				<br />
				newforesee
			</p>			
		</div><!-- #sidebar ends -->			
	</div><!-- #wrapper ends -->

	<!-- BACKGROUND SLIDER -->
	<div id="bg_slider">	
		<img src="images/bgslider-1.jpg" alt="" />
		<img src="images/bgslider-2.jpg" alt="" />
		<img src="images/bgslider-3.jpg" alt="" />
	</div>
</body>
<script src="js/blog.js" type="text/javascript" charset="utf-8"></script>

</html>